* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 377px;
  min-height: 290px;
  height: fit-content;
  border-radius: 6px;
  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  gap: 40px;
  background-color: white;
}

.board-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.task__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border-width: 1px;
  border-color: #767676;
}

.task__delete {
  width: 67px;
  height: 30px;
  border-radius: 6px;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  gap: 10px;
  background-color: #fef2f2;
  border: none;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ef4444;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -2.5%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#input {
  width: 280px;
  height: 40px;
  border-radius: 6px;
  border-width: 1px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
}

#addBtn {
  width: 59px;
  height: 40px;
  border-radius: 6px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  gap: 10px;
  background-color: #3c82f6;
  color: white;
  border: none;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 345px;
  height: 62px;
  gap: 10px;
  border-radius: 10px;
  padding: 16px;
  background-color: #f9fafb;
}

.list-text {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.task__checkbox {
  display: flex;
  align-items: center;
  justify-content: start;
}
